h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;

}

h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0;
}

.ProfilHeader{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
    border-bottom: 2px solid grey;
}

.ProfilPicture{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: 1px groove;
    margin-bottom: 10%;
}

.ProfilAction{
    display:flex;
    justify-content:space-around;
    width:116%;
}

a {
    color: black !important;
}

.ProfilContent {
    display: flex; 
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.ProfilInfo {
    margin-left: 6%;
    margin-right: 2%;
    flex-grow: 1;
    border: 1px inset;
    text-align: center;
}
  
.ProfilPosts {
    margin-right: 2%;
    flex-grow: 10;
}

.image-upload>input {
    display: none;
  }
  
.iconimage{
    height: 40px;
    width: 40px;
}

.imgPost{
  height: 100px;
  width: 100px;
  object-fit: contain;
}